<footer class="d-flex justify-content-between bg-white">
    <div>
        <small class="text-muted" [innerHTML]="'components.layout.footer.text' | translate"></small>
    </div>
    <div class="social text-right">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a [href]="'components.layout.footer.social.link.url' | translate"
                   [tooltip]="'components.layout.footer.social.link.title' | translate"
                   target="_blank" class="inverse"
                >
                    <i class="fa fa-link fa-2x"></i>
                </a>
            </li>
          <li class="list-inline-item">
            <a [href]="'components.layout.footer.social.university.url' | translate"
               [tooltip]="'components.layout.footer.social.university.title' | translate"
               target="_blank" class="inverse"
            >
              <i class="fa fa-university fa-2x"></i>
            </a>
          </li>
        </ul>
    </div>
</footer>
