main.battleship {
  background: $battleship-page-bg;

  .menu {
    background: $battleship-menu-bg;
    @include box-shadow(0 3px 5px 0 $battleship-menu-border);

    .navbar-brand {
      color: $battleship-menu-text;
    }
  }

  footer {
    background: $battleship-footer-bg;
    color: $battleship-footer-text;
    @include box-shadow(3px 0 5px 0 $battleship-footer-border);
  }

  form {
    .form-control:focus {
      border-color: $battleship-form-focus-border;
      box-shadow: $battleship-form-focus-shadow;
    }

    &.required:after {
      color: $battleship-required;
    }
  }

  .card {
    &.card-battleship, &.card-rank {

      .card-header {
        background-color: $battleship-card-header-bg;
        color: $battleship-card-header-text;
        min-height: 55px;
        line-height: 31px;
      }

      .card-body {
        color: $battleship-card-body-text;
      }

      .card-footer {
        background-color: $battleship-card-footer-bg;
        color: $battleship-card-footer-text;
      }
    }
  }

  .btn {
    &.btn-game {
      background: $battleship-button-bg;
      border-color: $battleship-button-border;

      &:hover, &:focus, &:active, &.active {
        background: $battleship-button-bg-hover;
        border-color: $battleship-button-border-hover;
      }
    }
  }

  .battleship-text {
    color: $battleship-text;
  }

  .battleship-text-dark {
    color: $battleship-text-dark;
  }

  ::-webkit-scrollbar {
    background-color: $battleship-scrollbar-bg;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: $battleship-scrollbar-shadow;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $battleship-scrollbar-bg-active;
    -webkit-box-shadow: $battleship-scrollbar-shadow;
  }
}
