@import "../../assets/styles/main.scss";

.login {
    background-image: url("../../assets/images/texture.png.png");

    height: 650px;

    h1 {
        text-decoration: double; 
        position: relative;
        vertical-align: middle;
        text-align: center;
    }

    form {
        position: absolute;
        vertical-align: middle;
        text-align: center;
        background-color: rgba(104, 202, 222, 0.74);
        small {
            color: $color-error;
        }
    }
}