@import "../../assets/styles/main.scss";

.login {
    background-image: url("../../assets/images/texture.png.png");

    height: 700px;

    h1 {
        text-decoration: double; 
        position: relative;
        vertical-align: middle;
        text-align: center;
    }
}