<div class = "row justify-content-center">
    <div class = "timer">
        <p> Tempo Rimanente</p>
        
    </div>
  
</div>

<div class = "row">
    <div class = "col">
        <p> Utente </p>
        <div class = "card-body table-responsive" > 
            <table class = "user_table"> 
                <tr *ngFor = "let cellRow of game.usercells; let i = index;">
                    <td *ngFor = "let cell of cellRow; let j = index;"> <!--(click)="showCellHandler(i, j)"-->
                        <img class="cell_img"
                     [src]="'src\assets\images\avatars\2.png'"
                >
                    </td>
                </tr>
    
            </table>
    

        </div>
        
    </div>

    <div class = "col">
        <p> Computer </p>
    </div>
</div>

<div class = "row justify-content-center">
    <button>Play </button>
</div>
