/* BASE COLORS */
$color-error: red;
$color-error-shadow: rgba(255, 0, 0, 0.25);

$color-1: rgb(14, 14, 149);
$color-2: #029f9f;
$color-3: white;
$color-4: black;

$default-text: $color-3;
$default-footer-background: $color-2;
$default-footer-text: $color-3;
$default-footer-border: $color-1;
$default-header-background: $color-1;
$default-header-text: $color-3;