/* BASE COLORS */
$color-error: red;
$color-error-shadow: rgba(255, 0, 0, 0.25);

$color-1: #99cbff;
$color-2: #08c2c2;
$color-3: white;
$color-4: black;

$default-text: $color-3;
$default-footer-background: $color-2;
$default-footer-text: $color-3;
$default-footer-border: $color-1;
$default-header-background: $color-1;
$default-header-text: $color-3;
$default-login-background: $color-error;