/* BASE COLORS */
$color-1: #b91957;
$color-2: #461030;
$color-3: #21152D;
$color-4: #BC5DB9;
$color-5: #BF96D3;
$color-6: black;
$text: #fff;

$battleship-text: $color-2;
$battleship-text-dark: $color-3;
$battleship-required: $color-1;
$battleship-form-focus-border: $color-2;
$battleship-form-focus-shadow: 0 0 0 0.2rem rgb(36 153 206 / 25%);
$battleship-page-bg: radial-gradient(circle, $color-1 0%, $color-2 50%, $color-3 100%);
$battleship-page-text: $text;
$battleship-menu-bg: $color-3;
$battleship-menu-border: $color-1;
$battleship-menu-text: $text;
$battleship-footer-bg: $color-3;
$battleship-footer-border: $color-1;
$battleship-footer-text: $text;
$battleship-button-bg: linear-gradient(0deg, $color-4 0%, $color-5 50%);;
$battleship-button-border: $color-4;
$battleship-button-bg-hover: linear-gradient(0deg, $color-5 0%, $color-4 90%);
$battleship-button-border-hover: $color-5;
$battleship-card-header-bg: $color-3;
$battleship-card-header-text: $text;
$battleship-card-body-text: $color-6;
$battleship-card-footer-bg: $color-3;
$battleship-card-footer-text: $text;
$battleship-lobby-header-bg: $color-3;
$battleship-lobby-header-text: $text;
$battleship-lobby-text: $color-4;
$battleship-modal-rules-bg: $color-3;
$battleship-modal-rules-text: $text;
$battleship-scrollbar-bg: $color-1;
$battleship-scrollbar-bg-active: $color-3;
$battleship-scrollbar-shadow: inset 0 0 3px rgba(0,0,0,0.3);
$battleship-game-bg: transparentize(white, 0.7);
